.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 296px;
    overflow-y: auto;
    background-color: #fff;
    padding: 0 12px;
    border-radius: 4px;
    z-index: 2;
}

.main {
    max-width: 1260px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 296px;
    overflow-y: auto;
    background-color: #fff;
    padding: 0 12px;
    border-radius: 4px;
    z-index: 2;
}
.selected{
    .head, .left, .right{
        opacity: 0.5;
    } 
    .main {
        z-index: 3;
    }
}