
.page-title{
    margin: 0;
    padding: 20px 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3{
        margin: 0;
    }
    &:first-child{
        padding-top: 0;
    }
}
.wrapper {
    padding: 3px 0;
    margin: 3px 0;
    display: flex;
    align-items: center;
    &:hover{
        background-color: #e6f4ff;
        border-radius: 4px;
        padding: 3px 4px;
        margin-left: -4px;
        margin-right: -4px;
    }
    .title {
        flex: auto;
        line-height: 2;
    }
    .selected {
        color: #1890ff;
    }

    .handler {
        width: 50px;
        text-align: end;

        .btn {
            opacity: .2;
        }
    }

    &:hover {
        .handler {
            .btn {
                opacity: 1;
            }
        }
    }
}