.textarea{
    font-weight: 600;
    padding: 4px;
    border: 1px dashed rgba(0, 0, 0, 0);
    outline: none !important;
    width: calc(100% - 10px);
    box-sizing: content-box;
    resize: none;
    border-radius: 4px;
    &:hover{
        border: 1px dashed #1677ff; 
    }
}