.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f2f5;
    min-width: 1200px;
}

.content-wrapper {
    flex: auto;
    padding: 12px 0;
}

.content {
    margin: 0 24px;
    height: 100%;
    position: relative;
    .left {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 86px;
        overflow-y: auto;
        background-color: #fff;
        padding: 12px;
        border-radius: 4px;
        z-index: 2;
        .link{
            text-align: center;
            padding: 10px 0;
            display: block;
            text-decoration: none;
            .icon{
                font-size: 28px;
                color: #000000;
            }
            .label{
                font-size: 12px;
                padding: 5px 0;
                margin: 0;
                cursor: pointer;
                color: #000000;
            }
        } 
        :global(.active) {
            .icon{
                color: rgb(93 93 255);
            }
            .label{
                color: rgb(93 93 255);
            }
        }
    }
}