.canvas {
    min-height: 100%;
    background-color: #fff;
    border-radius: 4px;
    margin: 0 auto;
    max-width: 720px;
}

.component-wrapper {
    padding: 26px;
    border-radius: 4px;
    transition-duration: 0.3s;
    &:hover {
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);
        transform: scale(1.01);
        background-color: #fff;
    }
}

.selected {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07) !important;
    transform: scale(1.01) !important;
    background-color: #fff;
}

.locked {
    opacity: .5;
    cursor: not-allowed;
}

// .component {
//     pointer-events: none; // 屏蔽鼠标行为，组件不让被点击到
// }