

// 重置编辑器的一些样式
.static{
    padding: 4px;
    border: 1px dashed rgba(0, 0, 0, 0);
    font-size: 13px;
    line-height: 1.42;
    margin: 2px 0;
    &:hover{
        border: 1px dashed #1677ff; 
        border-radius: 4px;
    }
    p{
        margin: 0;
    }
    img{
        max-width: 100% !important;
    }
}
.editor{
    position: relative;
    margin: 2px 0;
    :global {
        .ql-toolbar{
            display: inline-block;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
            border-radius: 4px;
            border: none !important;
            position: absolute;
            top: -42px;
            background-color: #fff;
        }
        .ql-toolbar.ql-snow .ql-formats {
            margin-right: 0;
          }
        .ql-container.ql-snow {
            border: 1px solid #1677ff !important;
            border-radius: 4px;
        }
        .ql-editor {
            padding: 4px;
        }
        .ql-snow .ql-tooltip[data-mode=link]::before {
            content: " ";
        }
        .ql-snow .ql-tooltip::before {
            content: " ";
        }
        .ql-snow .ql-tooltip.ql-editing a.ql-action::after {
            content: '保存';
        }
        .ql-snow .ql-tooltip a.ql-action::after{
            content: '编辑';
        }
        .ql-snow .ql-tooltip a.ql-remove::before{
            content: '删除';
        }
        .ql-snow .ql-tooltip{
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
            border-radius: 4px;
            border: none !important;
        }
    }
}

.strong{
    &.static{
        font-weight: 600;
        font-size: 14px;
    }
    :global {
        .ql-editor {
            font-weight: 600;
            font-size: 14px;
        } 
    }
}
